@import "tailwindcss";

@font-face {
  font-family: Michroma;
  src: url('../src/assets/fonts/michroma-regular.ttf');
}

@theme {
  --font-family-sans: Michroma, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-family-sans);
  }
}
